body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0; padding: 0;
    background-image: url("staffside.jpg");
    background-size: cover;
   background-repeat: no-repeat;
}
.header1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4C1D95;
    padding: 5px;
}
.container {
    width: 90%; max-width: 800px; margin: auto; padding-top: 30px;
}
.card {
    background:  #4C1D95;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    color: white;
}
h2, h3 { margin: 0 0 15px 0; }
#staffhead{
    color: #312e81;
}
span{
    color:#ec4899;
}
input[type=text], input[type=password],input[type=number]{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
select{
    width: calc(100% - 80%);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#signupid{
    color: white;
}
#signupid:hover{
    color: #ec4899;
}
#stafflog,#staffsign{
    color: #ec4899;
}
input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #ec4899;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #db2777;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logout-btn {
    background: #f44336;
}
.logout-btn:hover {
    background: #d32f2f;
}
ul { list-style-type: none; padding: 0; }
li { padding: 10px; border-bottom: 1px solid #eee; display: flex; justify-content: space-between; align-items: center; }
.order-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #2196F3;
    color: white;
    cursor: pointer;
}
.order-btn:hover {
    background: #1976D2;
}
.error { color: red; font-size: 0.9em; }
